.content {
  height: 1000px;
}

.blue {
  background-color: rgb(223, 243, 253);
  height: 100%;
}

.up {
  height: 70px;
}

.down {
  height: 150px;
}

.description {
  padding: 1em 1em 1em 1em !important;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}

.medium {
  height: 100px;
  overflow: hidden;
}